* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html { font-size: 75% }

.bignumber {font-size: 200%; font-weight: bold; margin: 0px 0px 0px 0px;}

/* Style the header */
.header {
    background-color: #007DBA;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}

/* Style the subheader */
.subheader {
    background-color: #555555;
    padding: 10px 10px;
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-top: 5px solid white;
}

.col-3wide {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 100%;
}
.col-2wide {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.databox {
    float: left;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background-color:#ccc
}

.dataheader {
    float: left;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color:#ccc
}

.precip {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background-color:#ccc
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    font-size: x-small;
}